<% provide(:title, "About")%>
<h1>About</h1>
<p>
	The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> is a
	<a href="http://www.railstutorial.org/book">book</a> and <a href="http://screencasts.railstutorial.org/">screencast series</a> to teach web development with <a href="http://www.rubyonrails.org/">Ruby on Rails</a>.
	This project is based on the sample application for the tutorial. Various custom features were added not implemented in the tutorial. More info can be found on the project's <a href="https://github.com/richddr/cigua_rails" title="GitHub">GitHub</a> page.
</p>